.header{
    font-size: xx-large;
    margin-left: 210px;
}

.box{
    margin: 0px 0px 10px 300px;
    padding-right: 300px ;
    padding-top: 50px;
}

input{
    width: 188px;
    height: 30px;
    margin-left: 200px;
    align-content: baseline;
    margin-top: 10Px;
    margin-bottom: 10Px;
}

.data1{
    margin-left: 200px;
}


._button {
    display: block;
    font-size: 14px;
    margin-left: 280px;
    min-width: 120px;

    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: rgb(7, 82, 128);
  }